.main {
    padding: 32px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.title {
    font-size: xx-large;
}

.text-input {
    margin-bottom: 24px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.checkbox-div {
    position: relative;
}

#save_data {
    margin: 0;
    vertical-align: middle;
    right: 0;
    position: absolute;
}

.checkbox-div:has(label) {
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 14px;
}
