body {
    background: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
}
.container {
    max-width: 390px;
}
.hint-text {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
}

/* Telegram switch */

.t_checkbox{
    position: relative;
    display: inline-block;
    width: 35px;
    height: 15px;
    border-radius: 15px;
    background-color: var(--tg-theme-hint-color);
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    transition: all 0.2s linear;
}
.t_checkbox:checked{
    background-color: var(--tg-theme-button-color);
    transition: all 0.2s linear;
}
.t_checkbox::after{
    content: '';
    position: absolute;
    display: block;
    width: 17px;
    height: 17px;
    top: -3px;
    left: -3px;
    border: 2px solid var(--tg-theme-hint-color);
    border-radius: 15px;
    background-color: var(--tg-theme-bg-color);
    transition: all 0.2s linear;
}
.t_checkbox:checked::after{
    left: 16px;
    border-color: var(--tg-theme-button-color);
    transition: all 0.2s linear;
}

/* Telegram text input */

.text-input {
    outline: none;
    height: 40px;
    background: bottom center linear-gradient(var(--tg-theme-hint-color), var(--tg-theme-hint-color)) repeat-x;
    background-size: 1px 1px;
    color: var(--tg-theme-hint-color);
}

.text-input:focus {
    background: bottom center linear-gradient(var(--tg-theme-button-color), var(--tg-theme-button-color)) repeat-x;
    background-size: 1px 1px;
}

input {
    border: none;
}