body {
    background: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
}

/* Loading animation */

.loading-screen {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: var(--tg-theme-bg-color);
    position: fixed;
    display: flex;
    justify-content: center;

    &.done {
        opacity: 0;
        visibility: hidden;
    }
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 40px;
    aspect-ratio: 1;
    align-self: center;
    --c: linear-gradient(var(--tg-theme-text-color) 0 0);
    --r1: radial-gradient(farthest-side at bottom,var(--tg-theme-text-color) 93%,var(--tg-theme-text-color));
    --r2: radial-gradient(farthest-side at top ,var(--tg-theme-text-color) 93%,var(--tg-theme-text-color));
    background: 
      var(--c) ,var(--r1),var(--r2),
      var(--c) ,var(--r1),var(--r2),
      var(--c) ,var(--r1),var(--r2);
    background-repeat: no-repeat;
    animation: l2 1s infinite alternate;
    z-index: 3;
  }
  @keyframes l2 {
    0%,25% {
      background-size: 8px 0,8px 4px,8px 4px,8px 0,8px 4px,8px 4px,8px 0,8px 4px,8px 4px;
      background-position: 0 50%,0 calc(50% - 2px),0 calc(50% + 2px),50% 50%,50% calc(50% - 2px),50% calc(50% + 2px),100% 50%,100% calc(50% - 2px),100% calc(50% + 2px);
   }
   50% {
      background-size: 8px 100%,8px 4px,8px 4px,8px 0,8px 4px,8px 4px,8px 0,8px 4px,8px 4px;
      background-position: 0 50%,0 calc(0% - 2px),0 calc(100% + 2px),50% 50%,50% calc(50% - 2px),50% calc(50% + 2px),100% 50%,100% calc(50% - 2px),100% calc(50% + 2px);
   }
   75% {
      background-size: 8px 100%,8px 4px,8px 4px,8px 100%,8px 4px,8px 4px,8px 0,8px 4px,8px 4px;
      background-position: 0 50%,0 calc(0% - 2px),0 calc(100% + 2px),50% 50%,50% calc(0% - 2px),50% calc(100% + 2px),100% 50%,100% calc(50% - 2px),100% calc(50% + 2px);
   }
   95%,100% {
      background-size: 8px 100%,8px 4px, 8px 4px,8px 100%,8px 4px,8px 4px,8px 100%,8px 4px,8px 4px;
      background-position: 0 50%,0 calc(0% - 2px),0 calc(100% + 2px),50% 50%,50% calc(0% - 2px),50% calc(100% + 2px),100% 50%,100% calc(0% - 2px),100% calc(100% + 2px);
   }
  }

/* Text style */

.hint-text {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: var(--tg-theme-hint-color);
}
.default-text {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* Telegram switch */

.t_checkbox{
    position: relative;
    display: inline-block;
    width: 35px;
    height: 15px;
    border-radius: 15px;
    background-color: var(--tg-theme-hint-color);
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    transition: all 0.2s linear;
}
.t_checkbox:checked{
    background-color: var(--tg-theme-button-color);
    transition: all 0.2s linear;
}
.t_checkbox::after{
    content: '';
    position: absolute;
    display: block;
    width: 17px;
    height: 17px;
    top: -3px;
    left: -3px;
    border: 2px solid var(--tg-theme-hint-color);
    border-radius: 15px;
    background-color: var(--tg-theme-bg-color);
    transition: all 0.2s linear;
}
.t_checkbox:checked::after{
    left: 16px;
    border-color: var(--tg-theme-button-color);
    transition: all 0.2s linear;
}

/* Telegram text input */

.text-input {
    outline: none;
    height: 40px;
    background: bottom center linear-gradient(var(--tg-theme-hint-color), var(--tg-theme-hint-color)) repeat-x;
    background-size: 1px 1px;
    color: var(--tg-theme-hint-color);
}

.text-input:focus {
    background: bottom center linear-gradient(var(--tg-theme-button-color), var(--tg-theme-button-color)) repeat-x;
    background-size: 1px 1px;
}

input {
    border: none;
}