<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('login.static', filename='style.css') }}">
    <title>Вход в систему</title>
</head>
<body>
    <script>window.Telegram.WebApp.ready()</script>
    <div class="container">
        <div class="main">
            <span class="title">Вход</span>
            <p class="hint-text">
                Для использования бота необходимо ввести логин и пароль от сервиса Schools.by.
                Вы в любой момент сможете выйти из системы и удалить всю информацию о себе.
            </p>
            <form method="post" id="form">
                <input type="text" placeholder="Логин" name="login" class="text-input" id="login">
                <input type="password" placeholder="Пароль" name="password" class="text-input" id="password">
                <div class="checkbox-div">
                    <label for="save_data">Сохранить логин и пароль</label>
                    <input type="checkbox" class="t_checkbox" name="save_data" id="save_data">
                </div>
            </form>
        </div>
    </div>
    <script src="{{url_for('login.static', filename='main.js')}}"></script>
</body>
</html>